/* Google-Fonts-Plug In */
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/* CSS rules to specify families

font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; 

----------------------------------*/
*{
    margin: 0;
}
header{
    height: 680px;
    background-color: #2D25A0;
    margin-bottom: 70px;
}
header,main,footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 60%;

}
/*-------------------------
    Header>Nav-bar & Banner 
-------------------------*/
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-item .text-item h1{
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0px;
    text-align: left;
    color: #ffffff;
}
.left-item .text-item button{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    border: none;
    margin-top: 12px;
}
.left-item .text-item button a{
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 24px;
    color: #ffffff;

}

.right-item .image-item img{
    width: 556.01px;
    height: 438px;
    left: 1299.01px;
    top: 153px;
}

/*---------------------- 
    Main-Players Section
----------------------- */
.body{
    background-color: #FFFFFF;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 165px;
 
}
.box{
    width: 330px;
    height: 474px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 27px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;

}
.player-item{
    margin: auto;  
    width: 300px;
    height: 426px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.player-photo img{
    width: 300px;
    height: 256px;
}
.player-name h2{
    font-family: 'Poppins', sans-serif;
    color: #18191F;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    padding-top:10px ;
}
.player-description p{
    font-family: 'Poppins', sans-serif;
    color: #6C6C6C;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    padding-top: 10px;
}

/*----------------------------
Another Section > Highlights
----------------------------*/

.highlights{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 158px;
}

.left-item .highlight-text-item h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    text-align: left;
    color: #0A0826;

}
.left-item .highlight-text-item p{
    font-family: 'Poppins', sans-serif;
    color: #6C6C6C;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    padding-top: 10px;
    margin-bottom: 24px;
    margin-top: 8px;
}

.left-item .highlight-text-item button{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    border: none;
    margin-top: 12px;
}
.left-item .highlight-text-item button a{
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 20px;
    color: #ffffff;
    
}

.right-item .image-item img{
    width: 567px;
    height: 427px;
    left: 1299.01px;
    top: 153px;
}
/*----------------------
    Partner-section 
 ----------------------*/
.partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.partners h2{
    font-family: 'Poppins', sans-serif;
    color: #18191F;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    padding-top:10px ;
    margin-bottom: 20px;
}
.partner-items{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
/*----------- 
    Footer
----------- */
.footer-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.logo-item img{
    width: 483.87px;
}
.icon-item{
    margin-bottom: 20px;
}
.icon-item a{

    text-decoration: none;

}
.icon-item a .fab{
    margin-left: 8px;
    margin-top: 5px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #969BAB;

}
.copyright-item p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #000000;

}
/*------------------ 
    MEIDIA QUERY
-------------------*/
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }

    /* BANNER */
    .banner{
        height: 695px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .highlight-text-item{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
    }
    .left-item .text-item h1{
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        color: #FFFFFF;
    }
    .right-item .image-item img{
        width: 329px;
        height: 259.17px;
    }
    /* Players */
    .players{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 165px;
     
    }
    /* Highlights */
    .highlights{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 158px;
    }
    .left-item .highlight-text-item h1{
        font-size: 30px;
        line-height: 60px;

        color: #0A0826;
    }
    
    /* Partners */

    .partner-items{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    /* FOOTER */
    .logo-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .logo-item img{
        width: 65%;

    }
}